<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    {{ partial "docs/html-head" . }}
    {{ partial "docs/inject/head" . }}

    <style>
        .not-found {
            max-height: 100vh;
            font-family: "Montserrat", "sans-serif";
            font-weight: bolder;
            flex-direction: column;
        }

        /*.not-found h1 {*/
        /*    margin: .25em 0 0 0;*/
        /*    opacity: .25;*/
        /*    font-size: 40vmin;*/
        /*}*/
        .container-404{
            min-height: 100vh;
        }
    </style>
</head>

<body>
<main class="flex justify-center align-center not-found container-404">
    <h1>An error as occured.</h1>
    <h1><span class="ascii">(╯°□°）╯︵ ┻━┻</span></h1>
    <a href="{{ .Site.Home.RelPermalink }}">Kembali.</a>
</main>


{{ partial "docs/inject/body" . }}
</body>

</html>
