<div class="highlight">
<pre tabindex="0" class="language-{{ .Get 0 }} global-lang-style "
     style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
    <div class="code-highlight-upper">{{ .Get 0 }}</div>
    <div class="classy-code">
    <code class="language-{{ .Get 0 }}" data-lang="{{ .Get 0 }}">
        {{- .Inner | safeHTML -}}
    </code>
    </div>
<button onclick="copyToClipboard(this)" class="copy-code-button" id="test">Copy</button>
</pre>
</div>

<script defer>
    function copyToClipboard(button) {
        const container = button.parentElement;
        const textElement = container.querySelector(".classy-code");
        const index = container.previousElementSibling ? container.previousElementSibling.children.length + 1 : 1;
        navigator.clipboard.writeText(textElement.textContent)
            .then(() => {
                button.innerHTML = "Copied!"
                setTimeout(() => {
                    button.innerHTML = "Copy"
                }, 2000);
            })
            .catch(() => {
                this.innerHTML("Failed")
            });
        button.dataset.textIndex = index;
    }

    const scrollableContainer = document.querySelector('.global-lang-style');
    const copyButton = document.querySelector('.copy-code-button');


    function updateButtonPosition() {
        const scrollTop = scrollableContainer.scrollTop;
        copyButton.style.top = scrollTop + 'px';
    }

    scrollableContainer.addEventListener('scroll', updateButtonPosition);

    updateButtonPosition();
</script>