
:root {
  --code-color: darkred;
  --code-bg-color: #aaaaaa;
  --code-font-size: 14px;
  --code-line-height: 1.4;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

/* You can add custom styles here. */
p {
  text-align: justify;
  line-height: 1.4em;
  font-weight: normal;
  font-stretch: normal;
  font-size: 16px;
  text-justify: auto;
  word-break: break-all;
  hyphens: auto;
}

li {
  line-height: 1.4;
  text-align: justify;
  margin: 10px 0;
  word-break: break-all;
  //hyphens: auto;
}

ul {
  padding-inline-start: 25px;
}

* {
  font-family: "Poppins", sans-serif;
}

summary {
  cursor: pointer;
  outline-style: none !important;
  user-select: none;
}

.center-img {
  text-align: center;
  width: 100%;
}

img {
  max-height: 200px;
  height: 100%;
  width: 100%;
  max-width: 500px;
  object-fit: contain;
  object-position: left;
  margin: 16px 0;
}

.anchor {
  opacity: 0;
}

pre {
  box-sizing: border-box;
  position: relative;
  white-space: normal;
  //padding: 20px;
  min-height: 80px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 12px;
}

.classy-code {
  flex: 1;
  vertical-align: middle;
  white-space: pre;
  user-select: none;
}

.global-lang-style {
  position: relative;
  box-sizing: border-box;
  //min-height: 100%;

  span {
    user-select: none;
  }

  button {
    background: #191919;
    outline: solid 0 transparent;
    border: solid 0 transparent;
    position: absolute;
    right: 20px;
    margin-top: 90px;
    transform: translateY(-50%);
    padding: 10px 30px;
    border-radius: 16px;
    cursor: pointer;

  }
}

.m-0 {
  margin: 0;
}

pre {
  color: var(--code-color);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  background-color: var(--code-bg-color);
}

.code-block {
  max-height: 100px;
  overflow: auto;
  padding: 8px 7px 5px 15px;
  margin: 0px 0px 0px 0px;
  border-radius: 7px;
}

.highlight {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-height: 350px;
  overflow: hidden;
}

.code-highlight-upper {
  display: block;
  height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px 20px;
  background: #0055bb;
}

code {
  color: #66bbff;
  .token {
    color: white
  }
  .operator {
    color: red ;
  }
  .function{
    color: orange ;
  }

}

// @import "plugins/numbered";
